* {/* reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;

    font-size: 1.15vw;
    
}

body{
    height: 100vh;
    font-family: 'Poppins';
    background-color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -9px;
    margin-left:7.9rem
}


h2{
    font-size: 2.25rem;
    letter-spacing: 0.4rem;
    font-weight: 700;
    color: #6C63FF;
}

#countdown-container{
    display: flex;
    align-items: flex-end;
    font-size: 4.5rem;
    color: var(--black);

    display: flex;
    gap: 1.5rem;
    margin-top: 1.1rem;
    margin-bottom: 1.2rem;
}

.countdown-label{
    font-size: 0.87rem;
    color: var(--light-grey);
}


.number-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



p{
    font-size: 0.87rem;
    color: var(--text-color);
}

button{
    font-size: 1rem;
    color:white;
    background-color: var(--purple);
    border: none;
    margin-top: 1.9rem;
    padding:0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.7rem;
}

button:hover{
    background-color: var(--text-color);
}

#rocket-img-container{

    width: 50%;
    margin-left: 1rem;
}

#rocket-img{
    width: 86%; 
}



@media (max-width: 800px), handheld{
    :root{
        font-size: 2vw;
    }
    body{
        flex-direction: column;
        
    }
    main{
        width: 100%;
        margin:0;
        top:0;
    }
    #rocket-img-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin:0;
    }
    #rocket-img{
        margin-top: 10vh;
    }  
}

#top-img{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    min-width: 800px;
    
}

#bottom-img{
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 800px;
}